.page.-active {
    display: block;
}

.page {
    width: 100%;
    display: none;
}

button {
    margin: 5px;
}

#frontMazeList .-active {
    color: orangered;
}

#frontImportMaze {
    display: none;
}

#frontMazeTable td {
    cursor: pointer;
}

#frontMazeTable {
    margin-left: 10px;
}

#frontPreview {
    border: 2px solid black;
}

#frontPreviewPanel {
    margin-left: 50px;
    display: none;
}

#frontPreviewPanel.-active {
    display: block;
}

#gameCanvasContainer, #editorCanvasContainer {
    position: relative;
    width: 600px;
    height: 600px;
    min-width: 600px;
    min-height: 600px;
    border: 2px solid black;
    margin-bottom: 5px;
}

.canvas {
    position: absolute;
}

#editorBaseCanvas, #gameBaseCanvas {
    z-index: 1;
}

#editorCanvas, #gameCanvas {
    z-index: 2;
}

.editorFooter {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.field {
    margin-top: 5px;
}

.horizontal-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

#editorPath {
    display: none;
}

#editorPath.-active {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.gamePositionsPanel {
    max-height: 600px;
    overflow-y: auto;
    margin-left: 50px;
}

#gameMovesTable, #frontMazeTable {
    margin-top: 12px;
    font-family: Consolas;
    font-weight: bold;
}

#gamePositions .-active td, #frontMazeTable td.-active {
    font-weight: bold;
    border-bottom: 1px solid cadetblue;
    border-top: 1px solid cadetblue;
}

#gamePositions .-hovered0 {
    background-color: #555500;
    color: white;
}

#gamePositions .-hovered1 {
    background-color: #888844;
    color: white;
}

#gamePositions .-hovered2 {
    background-color: #aaaa44;
    color: white;
}

#gamePositions .-hovered3 {
    background-color: #dddd66;
    color: white;
}

#gameMovesTable th, #frontMazeTable th {
    background-color: cadetblue;
    color: white;
}

#gameMovesTable th, #gameMovesTable td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.gameFooter {
    justify-content: space-between;
    width: 600px;
}
